@using DevTreks.DisplayHelpers;
@{
    ViewBag.Title = "Login Failure";
}

<p><strong>@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { data_role = "button", data_mini = "true", data_inline = "true" }) > @ViewData["Title"] </strong></p>
<p><strong>>@ViewBag.Title.</strong></p>
<p><strong>Unsuccessful login with service.</strong></p>
<p>
    <strong>@AppHelper.GetResource("JOININ_5")</strong>
</p>
